In [75]:
import pandas as pd

In [76]:
df = pd.read_csv(r'C:\Users\doshi\Desktop\spotify_millsongdata.csv')

In [77]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [78]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [79]:
df.shape

(57650, 4)

In [80]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [81]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [82]:
df.head(10)

,artist,song,text
0,Vertical Horizon,Heart In Hand,I know it's been a long road \r\nTo get these...
1,Vertical Horizon,Send It Up,Oh you make me lay down \r\nOh you make me fo...
2,Beautiful South,'Till You Can't Tuck It In,Your figure like your friendship \r\nGraduall...
3,Ramones,Suzy Is A Headbanger,"Ooo-whee, do it one more time for me! \r\nOoo..."
4,David Guetta,Yesterday,"Black hearts, black days \r\nRaindrops on my ..."
5,Zac Brown Band,Settle Me Down,A man's blood runs hot \r\nAs high as the tem...
6,O.A.R.,52-50,"Listen here, this will only be \r\nA small po..."
7,XTC,Books Are Burning,"Books are burning \r\nIn the main square, and..."
8,Jason Mraz,Happy Endings,You are naked \r\nStanding at the other end o...
9,Tim Buckley,Tijuana Moon,They told me all the hymns were born \r\nOut ...

In [83]:
df.shape

(5000, 3)

Text Cleaning/Text Preprocessing

In [84]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex = True)

In [85]:
df.tail(5)

,artist,song,text
4995,Queen,Love Of My Life,love of my life - you've hurt me \r you've br...
4996,Iggy Pop,Platonic,strategic angles indirectly revealed \r uniti...
4997,Neil Sedaka,I Tuoi Capricci,i capricci tuoi son cose ridicole \r tu distr...
4998,Cliff Richard,A Heart Will Break,i'm better off without you \r i'm better off ...
4999,Puff Daddy,The Body Rock,[puff daddy] \r see when we like to make you ...

In [86]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\doshi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\doshi\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [87]:
stemmer = PorterStemmer()

In [88]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [89]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [90]:
df['text'].apply(lambda x: token(x))

0       i know it 's been a long road to get these tow...
1       oh you make me lay down oh you make me forget ...
2       your figur like your friendship gradual grow a...
3       ooo-whe , do it one more time for me ! ooo-whe...
4       black heart , black day raindrop on my window ...
                              ...
4995    love of my life - you 've hurt me you 've brok...
4996    strateg angl indirectli reveal unit human form...
4997    i capricci tuoi son cose ridicol tu distrugger...
4998    i 'm better off without you i 'm better off yo...
4999    [ puff daddi ] see when we like to make you sh...
Name: text, Length: 5000, dtype: object

In [91]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [92]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [93]:
matrix=tfid.fit_transform(df['text'])

In [94]:
similer = cosine_similarity(matrix)

In [95]:
similer[0]

array([1.        , 0.0148004 , 0.00967319, ..., 0.        , 0.10650561,
       0.00720556])

In [96]:
df[df['song']=='Burning Bridges']

,artist,song,text
1091,Glen Campbell,Burning Bridges,found some letters \r you wrote me this morni...

Recommender Funtion

In [109]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])), reverse=True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
        return song

In [110]:
recommender('Love Of My Life')

['The Race']

In [112]:
import pickle
pickle.dump(df,open('df.pkl',"wb"))
pickle.dump(similer,open('similer.pkl', "wb"))